
@{
    ViewBag.Title = "Погода";
}
<h4>Выберите действие:</h4>
    <ul>
        <li><p>@Html.ActionLink("Данные о погоде", "WeatherList")</p></li>
        <li><p>@Html.ActionLink("Загрузить данные о погоде", "Upload")</p></li>
    </ul>
