@model WeatherMoscow.Models.Weather

@{
    ViewBag.Title = "Загрузить";
}

<h2>Загрузка файла с погодой</h2>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new {enctype="multipart/form-data" }))
{
    <input type="file" name="uploads"/><br />
    <input type="file" name="uploads" /><br />
    <input type="file" name="uploads" /><br />
    <input type="submit" value="Загрузить" />
}